//html { height: auto; }
//html, body { width: 100%; height: 100% !important; }
//body { position: relative; font-family: $font-Roboto-Regular, $font-Myriad-Pro, Verdana, Arial; color: $color2Black; }
//
//a { color: $color2Black; @include a-nou;
//  &:hover { @include a-nou; color: $color1Green }
//}
//
//a.main { color: $color1Green; @include a-nou;
//    &:hover { @include a-nou; color: $color5Orange }
//}
//
//%hx { @include upper; font-family: $font-RobotoCondensed-Regular; }
//h1 { @extend %hx; }
//h3 { @extend %hx; }


.-iblock { display: inline-block !important; }
.-nblock { display: none; }
.-left { text-align: left !important; }
.-center { text-align: center }
.-justify { @include jalign; }
.-green { color: $color1Green !important; }
.-red { color: $color9Red }
.-icon-before-16 { position: relative; padding-left: 22px;
  &::before { content: ' '; @include box(b,a, 21 16 px); left: 0; top: 2px; @include bg("ico-icons-03.png"); }
}

.p { margin: 10px 0 }