$theme-path: '../../';
$theme-path-pic: #{$theme-path}/Images;
$pathImage: #{$theme-path}/Images;
//$theme-path-fonts: #{$theme-path}/fonts;
//$theme-path-fonts: fonts;
$button-color: #816A47;//#FB1C5B;
$button-color-hover: #715d40;//#C11747;
$color1Green: #449d44;
$color2Blue: #3c8dbc;
$color3Brown: #3a3943; // menu bg
$color4Def: darken(#e6e6e6, 5%); // default
$colorFont: #333;

$color5Orange: #ff6500;
$color6Borders: #777; // borders
$color7: #F7F7F7; // inputs
$color8: #fff200; // progress
$color9Red: #ff462d; // progress
$colorB: lighten(silver, 10%);
$color1Blue: #17365D;
