<?xml version="1.0"?>
<config>
  <modules>
    <Paymentsense_Paymentsense>
      <version>0.1.0</version>
    </Paymentsense_Paymentsense>
  </modules>
  
  <global>
    <models>
      <Paymentsense>
        <class>Paymentsense_Paymentsense_Model</class>
      </Paymentsense>
    </models>
    <resources>
      <Paymentsense_setup>
        <setup>
          <module>Paymentsense_Paymentsense</module>
		  <class>Paymentsense_Paymentsense_Model_Resource_Eav_Mysql4_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </Paymentsense_setup>
      <Paymentsense_write>
        <connection>
          <use>core_write</use>
        </connection>
      </Paymentsense_write>
      <Paymentsense_read>
        <connection>
          <use>core_read</use>
        </connection>
      </Paymentsense_read>
    </resources>
    <blocks>
      <Paymentsense>
        <class>Paymentsense_Paymentsense_Block</class>
      </Paymentsense>
      <payment>
        <rewrite>
          <info_cc>Paymentsense_Paymentsense_Block_Payment_Info_Cc</info_cc>
        </rewrite>
      </payment>
	  <checkout>
		<rewrite>
		  <cart_totals>Paymentsense_Checkout_Block_Cart_Totals</cart_totals>
		</rewrite>
	  </checkout>
	  <sales>
		<rewrite>
		  <order_totals>Paymentsense_Sales_Block_Order_Totals</order_totals>
		</rewrite>
	  </sales>
      <adminhtml>
        <rewrite>
          <sales_order_payment>Paymentsense_Paymentsense_Block_Adminhtml_Sales_Order_Payment</sales_order_payment>
        </rewrite>
      </adminhtml>	  
    </blocks>
    <!-- Define the helper class type -->
    <helpers>
      <Paymentsense>
        <class>Paymentsense_Paymentsense_Helper</class>
      </Paymentsense>
      <Paymentsense>
        <rewrite>
          <data>Paymentsense_Paymentsense_Helper_Data</data>
        </rewrite>
      </Paymentsense>
    </helpers>
  </global>

  <adminhtml>
    <layout>
      <updates>
        <Paymentsense>
          <file>Paymentsense.xml</file>
        </Paymentsense>
      </updates>
    </layout>
  </adminhtml>
  <frontend>
    <secure_url>
      <Paymentsense>/Paymentsense/standard</Paymentsense>
    </secure_url>
    <routers>
      <Paymentsense>
        <use>standard</use>
        <args>
          <module>Paymentsense_Paymentsense</module>
          <frontName>Paymentsense</frontName>
        </args>
      </Paymentsense>
    </routers>
    <translate>
      <modules>
        <Paymentsense_Paymentsense>
          <files>
            <default>Paymentsense_Paymentsense.csv</default>
          </files>
        </Paymentsense_Paymentsense>
      </modules>
    </translate>
  </frontend>
  
  <!-- declare default configuration values for this module -->
  <default>
    <payment>
      <Paymentsense>
        <active>1</active>
        <model>Paymentsense/direct</model>
        <title>Paymentsense</title>
        <hashmethod>sha1</hashmethod>
        <paymentprocessordomain>Paymentsense.com</paymentprocessordomain>
        <paymentprocessorport>4430</paymentprocessorport>
        <hostedpaymentactionurl>https://mms.paymentsensegateway.com/Pages/PublicPages/PaymentForm.aspx</hostedpaymentactionurl>
        <transparentredirectactionurl>https://mms.paymentsensegateway.com/Pages/PublicPages/TransparentRedirect.aspx</transparentredirectactionurl>
        <serverpullresultactionurl>https://mms.paymentsensegateway.com/Pages/PublicPages/PaymentFormResultHandler.ashx</serverpullresultactionurl>
        <payment_action>authorize_capture</payment_action>
        <mode>direct</mode>
        <cv2mandatory>1</cv2mandatory>
        <address1mandatory>1</address1mandatory>
        <citymandatory>1</citymandatory>
        <statemandatory>1</statemandatory>
        <postcodemandatory>1</postcodemandatory>
        <countrymandatory>1</countrymandatory>
        <resultdeliverymethod>POST</resultdeliverymethod>
        <allowspecific>0</allowspecific>
		<customstockmanagementenabled>1</customstockmanagementenabled>
		<takePaymentInStoreBaseCurrency>1</takePaymentInStoreBaseCurrency>
      </Paymentsense>
    </payment>
  </default>
</config>