<!--@subject Email - Header @-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
	@font-face {
		font-family: "Roboto";
		src: url("http://prommu.com/theme/fonts/Roboto-Regular.ttf") format("truetype");
	}

	@font-face {
		font-family: "RobotoCondensed";
		src: url("http://prommu.com/theme/fonts/RobotoCondensed-Regular.ttf") format("truetype");
	}

	body { font-family: Verdana, Tahoma, Arial; font-size: 13px; }
	#DiLetterWrapp { margin: 0 auto; width: 600px; }
	@media (min-width: 1000px) {
		#DiLetterWrapp { width: 1000px; }
	}
</style>
</head>

<body>

<div id="DiLetterWrapp" style="">
	<div class="header">
		<div class="hh" style="position: relative; border-bottom: 1px solid #FB1C5B; text-align: center;"><a href="{{store url=""}}"><img src="http://www.rent-a-bag.club/skin/frontend/base/default/images/logo.jpg" style="display: inline-block; position: relative; margin-bottom: -37px; padding: 0 10px; width: 340px; height: 60px; background: #fff" /></a></div>
	</div>

	<div class="text-block" style="padding: 50px 0 50px; font-family: Verdana, Tahoma, Arial; font-size: 13px;">
		