*::-webkit-input-placeholder {
	font-style: italic;
	color: #999999;
}

*:-moz-placeholder {
	font-style: italic;
	color: #999999;
}

*::-moz-placeholder {
	font-style: italic;
	color: #999999;
}

*:-ms-input-placeholder {
	font-style: italic;
	color: #999999;
}